@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<!DOCTYPE html>
<html>
<head>
    @Html.Sitecore().Placeholder("head")
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <header>@Html.Sitecore().Placeholder("header")</header>
    <main>@Html.Sitecore().Placeholder("main")</main>
    <footer>@Html.Sitecore().Placeholder("footer")</footer>
</body>
</html>
