@model Helixbase.Feature.Hero.ViewModels.HeroViewModel

@if (Model != null)
{
    /* do not use inline css! This is only a POC */
    <style>
        .carousel-indicators li {
            background-color: #999;
            background-color: rgba(70, 70, 70, .25);
        }

        .carousel-indicators .active { background-color: #444; }

        .carousel img { min-width: 100%; }
    </style>
    @Model.HeroTitle

    if (Model.IsExperienceEditor)
    {
        foreach (var heroImage in Model.HeroImages)
        {
            <div>
                <img src="@heroImage.Src" />
            </div>
        }
    }
    else
    {
        <div id="heroCarousel" class="carousel slide" data-ride="carousel">
            @if (Model.HeroImages != null)
            {
                <ol class="carousel-indicators">
                    @{
                        var i = 0;
                        foreach (var heroImage in Model.HeroImages)
                        {
                            <li data-target="#heroCarousel" data-slide-to="@i" @Html.Raw(i == 0 ? "class=\"active\"" : "")></li>
                            i++;
                        }
                    }
                </ol>
                <div class="carousel-inner" role="listbox">
                    @{
                        var j = 1;
                        foreach (var heroImage in Model.HeroImages)
                        {
                            <div class="item@(j == 1 ? " active" : "")">
                                <img src="@heroImage.Src"/>
                            </div>
                            j++;
                        }
                    }
                </div>
            }
        </div>
    }
}